.search-box {
    -fx-background-color: antiquewhite;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-button {
    -fx-background-color: coral;
    -fx-background-radius: 80;
}

.left-bar {
    -fx-background-color: lightgoldenrodyellow;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0.0, 0.0, 10.0);
}

.top-bar {
    -fx-background-color: burlywood;
}

.deckmenu-background {
    -fx-background-color: #DEB887;
}

.welcome-menu-background {
    -fx-background-image: url("Images/Background/U3SKmE8J.jpg");
    -fx-background-size: stretch;
}

.menu-button {
    -fx-background-color: black;
    -fx-background-radius: 80;
    -fx-border-color: white;
    -fx-border-radius: 80;
}

.Register-background {
    -fx-background-image: url("Images/Background/4oDqkW.jpg");
    -fx-background-size: stretch;
}

.register-button {
    -fx-background-color: rgb(140, 0, 0);
    -fx-background-radius: 80;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-border-radius: 80;
}

.login-background {
    -fx-background-image: url("Images/Background/LoginMenuBackground.jpg");
    -fx-background-size: stretch;
}

.login-field {
    -fx-text-fill: white;
    -fx-background-color: #2E4053;
    -fx-background-radius: 80;
    -fx-border-color: black;
    -fx-border-radius: 80;
}

.login-button {
    -fx-background-color: #2ECC71;
    -fx-border-color: black;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}

.back-button {
    -fx-background-color: #273746;
    -fx-border-color: black;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}

.mainMenu-background {
    -fx-background-image: url("Images/Background/GUI_T_TowerBg2.dds.png");
    -fx-background-size: stretch;
}

.mainMenu-Choose {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-effect: dropshadow(gaussian, red, 10, 0, 0, 0);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 30;
}

.duel-background {
    -fx-background-image: url("Images/Background/fie_dark.bmp");
    -fx-background-size: stretch;
}

.red-bar {
    -fx-control-inner-background: black;
    -fx-accent: red;
}

.separator {
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border-width: 1;
}

.duelMenu-background {
    -fx-background-image: url("Images/Background/duelMenu.png");
    -fx-background-size: stretch;
}
.profile-background{
    -fx-background-image: url("Images/Background/50061.png");
    -fx-background-size: stretch;
}
.profile-textField{
    -fx-background-color: #273746;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}
.profile-backButton{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}
.flip-coin{
    -fx-background-image: url("Images/Background/coinBackground.jpg");
    -fx-background-size: stretch;
}
.errorBox-background{
    -fx-background-image: url("Images/error.jpg");
    -fx-background-size: stretch;
}
.graveyard-background {
    -fx-background-image: url("Images/Background/GraveYardBackground.png");
    -fx-background-size: stretch;
}
.scroll-pane>.viewport{
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}
.duelMenu-left-background{
    -fx-background-image: url("Images/Background/14235.jpg");
    -fx-background-size: stretch;
    -fx-border-color: black;
}
.duelMenu-middle-background{
    -fx-background-color: #caf0f8;
    -fx-border-color: black;
    -fx-background-size: stretch;
}
.duel-bottom-background{
    -fx-background-image: url("Images/Background/50011.png");
    -fx-background-size: stretch;
}
.shop-background{
    -fx-background-image: url("Images/Background/50061.png");
    -fx-background-size: stretch;
}
.shop-up{
    -fx-background-image: url("Images/Background/839134.jpg");
    -fx-background-size: stretch;
}
.activate{
    -fx-background-color: #63E01B;
    -fx-border-color: blue;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}
.deckMenu-up{
    -fx-background-image: url("Images/Background/blueBackground.jpg");
    -fx-background-size: stretch;
}
.deckmenu-right{
    -fx-background-image: url("Images/Background/yellow.jpg");
    -fx-border-color: black;
}
.vBox-duelMenu-background{
    -fx-background-image: url("Images/Background/blue-gray.jpg");
    -fx-background-size: stretch;
}
.cheat-imageView{
    -fx-border-radius: 80;
}
.import-background {
    -fx-background-image: url("Images/Background/wp2753204.jpg");
    -fx-background-size: stretch;
}
.error-background {
    -fx-background-image: url("Images/Background/exportError.png");
}
.cardCreator-Background {
    -fx-background-image: url("Images/Background/789456.png");
    -fx-background-size: stretch;
}

.cardCreator-buttons {
    -fx-background-color: #2E3DB1;
    -fx-border-color: #00ff55;
    -fx-background-radius: 80;
    -fx-border-radius: 80;
}

.cardCreator-smallTextFields {
    -fx-background-color: #2E3DB1;
    -fx-border-color: #00ff55;
    -fx-border-width: 2;
    -fx-background-radius: 80;
    -fx-border-radius: 80;
    -fx-prompt-text-fill: #1E1307;
}

.text-area .content {
    -fx-border-color: #00ff55;
    -fx-background-color: #EFE3D6;
}

.cardCreator-box {
    -fx-background-color: #00ff55;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
    -fx-border-color: black;
}
.cardCreator-Back{
    -fx-background-color: #2E3DB1;
    -fx-border-color: #00ff55;
    -fx-background-radius: 80;
    -fx-border-radius: 80;
    -fx-prompt-text-fill: black;
}