.search-box {
    -fx-background-color: antiquewhite;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-button {
    -fx-background-color: coral;
    -fx-background-radius: 80;
}

.right-bar {
    -fx-background-color: lightgoldenrodyellow;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0.0, 0.0, 10.0);
}

.top-bar {
    -fx-background-color: burlywood;
}

.deckmenu-background {
    -fx-background-color: #DEB887;
}

.welcome-menu-background {
    -fx-background-image: url("Images/Background/testssd.jpg");
    -fx-background-size: stretch;
}

.menu-button {
    -fx-background-color: black;
    -fx-background-radius: 80;
}

.Register-background {
    -fx-background-image: url("Images/Background/4oDqkW.jpg");
    -fx-background-size: stretch;
}

.register-button {
    -fx-background-color: rgb(140, 0, 0);
    -fx-background-radius: 80;
}

.login-background {
    -fx-background-image: url("Images/Background/6qK0NS.jpg");
    -fx-background-size: stretch;
}

.login-field {
    -fx-text-fill: white;
    -fx-background-color: #2E4053;
    -fx-background-radius: 80;
    -fx-border-color: black;
    -fx-border-radius: 80;
}

.login-button {
    -fx-background-color: #2ECC71;
    -fx-border-color: black;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}

.back-button {
    -fx-background-color: #273746;
    -fx-border-color: black;
    -fx-border-radius: 80;
    -fx-background-radius: 80;
}

.mainMenu-background {
    -fx-background-image: url("Images/Background/GUI_T_TowerBg2.dds.png");
    -fx-background-size: stretch;
}

.mainMenu-Choose {
    -fx-background-radius: 30;
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-effect: dropshadow(gaussian, red, 50, 0, 0, 0);
    -fx-border-color: black;
    -fx-border-radius: 30;
}
